<h2>Products</h2>
<h3> Look at our products!!</h3>
<div *ngFor="let product of products">
  <h3>
    <a [title]="sayHello(product.name)">{{product.name}}</a>
<h3>

  <p *ngIf="product.description">
    Description:{{product.description}}
    Price:{{product.price}}
  </p>
  <button (click)="share()">Share Me</button>

  <app-product-alert  [product]="product" 
  (notify)="onNotify()"> </app-product-alerts>

</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->